German officials began investigating VW for theft
The U.S. Justice Department's interest in industrial espionage had been piqued
A regional court in Frankfurt issued an injunction preventing VW from recruiting more GM staff
All charges of anti-competitive staff poaching were later dismissed
Ferdinand Piech took over an ailing VW company that was losing money
Lopez was disappointed by GM's decision not to build an automobile plant in his own Basque country
Gunter Rexrodt, had tried to be a peacemaker is this controversy
Lopez left GM under a cloud of confusion
VW and Lopez also were accused on conducting an illegal recruiting campaign
In 1994, Britian's Prince Andrew made an official royal visit
President Carlos Menem of Argentina took office in 1989
has adopted a pro-western foreign policy and free market economics
Falkland war was in 1982
and Agricultural Minister Gillian Shephard visited Argentina
and Foreign Minister Guido De Tella went to the UK
Militarily, both countries joined forces to support the first Iraq war
Argentina has sought British assistance on privatization of the oil and gas industries
Britain lifted military protection zone around the Falklands
Argentina used fishing disputes to press for oil and military compromises
Falkland war was between Britain and Argentina
Talks over Argentine officers to train in UK military academies
Argentinians visited war cemeteries in the Falklands
Each side would announce upcoming military exercises
Oil and gasfields detected in disputed waters required Argentine cooperation for development
relations between Argentina and Great Britain are growing continuously cooperative
There are still remaining issues regarding the Falkland Islands
Britain ended trade curbs in 1985
Argentina lifted restrictions on British imports in 1989
Argentina and Brazil are also major markets
Asian markets were also pursued
In Hungary PM increased cigarette exports to Ukraine
RJR plans to produce Camels and other brands in Kazakhstan
RJR bought factories in Turkey
Phillip Morris (with Marlboros) wooed Russian by supplying 20billion cigarettes after the 1990 tobacco riots
PM acquired three Russian factories
PM said it sold 201 billion cigarettes worldwide during the third quarter of 1994
PM often entered markets with both cigarettes and food
Another use of cyanide is in manufacturing the nutritional supplement tryptophan
Cyanide is used in pesticides
Cyanide fishing is linked to the destruction of area reefs
Cameroon honey gatherers use cyanide to stun bees
Cameroon villagers use cyanide to gather honey from hives in tall trees
In some isolated cases, it is used for fishing
A film recovery worker died from inhaling cyanide fumes
Cyanide fumes killed five workers cleaning one tank
cyanide is used  in gold, silver, and copper mining
Cyanide is used in rodent poison
Mine waste-water poses an environmental hazard
a mine leaked contaminated water into the Alamosa River
Ore is placed on a plastic pad
The waste from this process is discharged into self-contained ponds
and when a plating company dumped cyanide-laced waste water into the Los Angeles sewer system
In Summitville Colorado, pollution from a mountain mine killed fish for 17 miles
Water diverted for mining use can dry surrounding wells and streams, destroying wildlife habitats
Cyanide is used in electroplating aircraft parts
A pioneering "closed-loop" cyanide leaching system eliminates open ponds and environment leaks
a number of dangerous situations may occur
The World Court hears cases about embargoes imposed by one country against another
The UN declared South African control over Namibia illegal
Companies generate public pressure for licensing
Drugs must go through the licensing processes in individual countries
Some pharmaceutical companies have cut back on the number of their R&D facilities
There are companies that have split the management of their R&D processes
Companies must decide which compounds to take forward
A man shot his fatally lion-mauled friend;
Alan Cox gave a lethal injection to end an elderly patient with chronic pain
Virginia Harper wanted to end her life
Roswell Gilbert shot his wife Emily
Emily Gilbert suffered Alzheimer's and osteoporosis
Court orders are required to remove life support
The Amazon rain forest was heavily damaged by deforestation
Coca growers' herbicides and refining chemicals wash into rivers
Efforts are underway to teach farmers proper harvesting techniques
Sustainable forestry and development techniques are being employed
Many species of plant and animal life were being destroyed
UNESCO has declared the Yasuni national park to be an international bioshpere reserve
Gorilla skulls were sold to native collectors in Rwanda
Arrested poachers are reformed in the Conservation Corps and turned into honorary gamekeepers
Namibian police smashed a major international syndicate smuggling tusks
Poaching rings were broken in the US
Measurers taken to protect these species have included making safe havens for the animals
integrated producers who transform iron ore into finished steel in many stages
which would eliminate expensive separate coking ovens and sinterers
Commercial viability wasn't expected for ten years
The thin slab is passed on rollers through a furnace
The new technology is less capital intensive
Co-Steel has mini-mills in the US
Nucor has a joint venture in Hunterston, Scotland
However, steel from mini-mills is of a grade more suitable for construction
Strip casting is expected to produce a superior quality of steel
A dozen masterpieces were taken from Boston's Gardner Museum
Stealing art works has become the second biggest international criminal activity after narcotics
Auction houses often recognize artworks brought to them as stolen
Documentation is essential for recovery
Three Swedes were arrested in a Belgian police sting operation
In France, art dealers are obliged by law to register all purchases
Dogs are used at crime scenes
Police also use dogs to track
Dogs are used in many types of police work
Dogs are used on airplanes
When not on patrol, many police dogs perform public relations duties
Large dogs are preferred because they provide a more imposing presence
Corporate IT departments use robots for loading and unloading memory tapes
Robots are taking over the tasks of traditional rubber tappers
The current world population is 5.5 billion
Birth rates in Latin American countries have fallen
Sub-Saharan Africa has fertility rates over 6 per woman
Nearly 95% of the projected rise would come from developing countries
The Mexican government is battling huge population growth in a strongly Catholic country
Tin mining in south-east Asia has been steadily declining
The Malaysia Mining Corp. closed in 1993
Tin mining had been going on in Malaysia for centuries
In the 1960s, Malaysia was producing between 60,000 and 70,000 tons of tin annually
The British began mining tin in what is now Malaysia
In the mid-1980s Malaysia produced 60,000 tons of tin per year
Malaysian government disincentives replaced subsidies
Sungei Lembing was originally developed by Cornish tin miners
Implementation of the local government reform will take place in April 1995
Support for the devolution of Wales generally followed party lines
Labour has promised an independent Welsh Assembly
Only 18 percent of Welsh favored devolution in 1978
Blair has set out proposals for devolution
Women in single-sex colleges are more likely to obtain advanced degrees
Boys in singe-sex schools enjoy a camaraderie
Many supporters of co-ed schools do so because it is more like the real world environment where both sexes mingle
Ratings consistently show that single-sex schools rate higher academically
girls in classrooms without boys benefit from having fewer distractions
Most parents dislike segregation by sex;
Women in single-sex colleges are more likely to graduate
The Salvation Army runs a transitional housing program;
The Army has a trailer-housing program
The SA provides alcohol prevention and rehabilitation programs
the Salvation Army can be found handing out bottled water
the Salvation Army can be found handing out blankets
The Salvation Army runs drug rehabilitation centers;
The Salvation Army runs alcohol rehabilitation centers;
The Salvation Army provides a wide range of benefits to society's homeless
The Salvation Army provides a wide range of benefits to society's destitute
In Los Angeles, the army operates a shelter for homeless women alcoholics
They contribute to food pantries
They also run an "Adopt a Family" program
They actively contribute to disaster relief
The Salvation Army supplies clothing to shelters;
The Salvation Army provides assistance for victims of California earthquakes
They operate the Zahn Memorial Center for Social Services in Los Angeles
Havel failed to be reelected president
The two agreed to form an interim federal government
Slovakia's heavy industries were uneconomically geared to the Soviet market
the Soviet yoke lifted from Czechoslovakia
The two regions were unable to agree on a political plan for coexistence
On January 1, 1993, the agreed upon separation was official
No customs officials or border restrictions were deemed necessary
Slovaks voted to seek a looser confederation between the Czech and Slovak republics
Slovakia's slow privatization discouraged investors
Poland and Hungary created free-trade zones with both republics
Political extremist Lyndon LaRouche was sentenced to 15 years in prison
Political extremist Lyndon LaRouche was sentenced on a mail and tax fraud conviction
Janet Faye McKinzie was convicted of looting the now-defunct North America Savings & Loan
there was some tendency to impose harsher penalties on financial criminals than in previous years
Land being "held in trust" effectively shuts the Indians out of conventional home loan processes
Federal aid programs are inadequate
Privileges of tribal sovereignty include unique hunting and fishing rights
Privileges of tribal sovereignty include the ability to sell gas and cigarettes tax-free
Indian tribes on reservations enjoy a unique legal status
Indians working on reservations can vote in local, state, and federal elections
At least half the Indian population lives in poverty
The FBI or Bureau of Indian Affairs is responsible for serious crimes
Minor crimes by Indians come under tribal authority
Violent crimes against Indians are often perpetrated by whites
Indian communities have higher than average death rates
Some Casinos are troubled by legal battles with states that either outlaw gambling or want to tax the profits
Violent crime is increasing, especially on poor reservations
Federal government pays for reservation clinics, schools, and welfare
Wetlands are a natural ecological system
Wetlands are sometimes called "Earth's kidney"
China has established wetland reserves
100,000 acres of wetlands per year have been lost in the U.S.
International help with wetland restoration has come from the Netherlands
International help with wetland restoration has come from Finland
International help with wetland restoration has come from the World Bank
Term "wetlands" describes marshes, swamps, bogs and similar areas
Active programs to protect wetlands are underway in Uganda
Crash tests should include dummies in the back seat
States are enacting graduated licensing laws
Dual front air bags posed threats to children and small people
Some states are enacting laws to require seat belt usage
Bouchard won provincial re-election
Canadian Prime Minister Jean Chretien declared that unilateral secession was illegal
Polls indicated most Quebeckers didn't want another referendum
Chretien proposed legislation making secession attempts difficult for Quebec
Opinion indicated that Quebeckers wanted Bouchard to focus on the economy
Lucien Bouchard, vowed to keep the independence movement alive
Proponents of Intelligent Design don't always posit God as the creator
There is a debate over teaching of evolution or creationism in public school science classes
Scientists, science teachers and their supporters see evolution as one of the unifying concepts linking all scientific disciplines
Supporters of creationism, creation science, and intelligent design are primarily fundamentalist Christians
Poll showed 83% of Americans favoring teaching evolution in the public schools
Yeltsin promised free and democratic elections
Chechnya won de facto independence in 1996
Russian troops were sent into Chechnya in December 1994
Russian troops were sent into Chechnya to crush a separatist drive (in 1994)
Chechen groups invaded Dagestan in 1999
Russians occupied 60% of Chechen territory by 2000
Russia was determined to liberate Chechnya from terrorists (in 1999)
Guerilla and terrorist attacks continue
Plane climbed again before going into an extremely steep dive
Electromagnetic interferences by local military radars could have caused shutdown of computerized autopilot, elevators, and engines
One thrust reverser had been previously deactivated
There was speculation that a thrust reverser had deployed
Transponder had also stopped working
Data from one Black Box showed that the elevators were in an uneven setting
EgyptAir Flight 990 crashed after departing JFK Airport
There were no radio reports of trouble
Elevators were out of unison
Cabin turned off both engines
On-board computer failure was speculated
Background, medical history, and emotional stability of the passengers were examined
Background, medical history, and emotional stability of the crew were examined
Cockpit voice recorder was recovered
National Transportation Safety Board stated there was no sign of mechanical failure
Egyptian officials continued to seek other possible causes
Cockpit voice recordings indicated that someone uttered a prayer
Some speculated that an in-flight electrical problem caused the crash
Plane's copilot may have deliberately crashed the plane
Plane dropped at near supersonic speed for 9,000 meters
Schools nationwide are taking measures to prevent school violence.
Children are being taught anger management.
Prince Charles established the Stephen Lawrence architectural scholarship for minorities
Britain has never had a civil rights movement
Prince Charles established the Stephen Lawrence architectural scholarship for minorities, in 2000
Some adopted foreign children, mainly Asiatics, have problems with race issues
Many US couples look to international adoptions
Most children came from Russia, China, and Korea
African orphans are almost ignored
Changes in Chinese law restrict foreigner adoptions
Russia is the largest adoptees supplier
Hague Convention on Intercountry Adoption was created to establish guidelines for international adoptions
Russia tightened control over foreigner adoptions
ADHD affects 3-9% of all children
ADHD is difficult to diagnose
Outward symptoms generally include inability to concentrate
Outward symptoms generally include difficulty in learning
ADHD is a chemical disorder in the brain
In the U.S. drugs have been found more effective
Some critics think the drugs are over-prescribed
There has been much controversy around treatment of ADHD
Melissa attacked computers running Microsoft Word
Melissa has affected over 100,000 computers worldwide
Chernobyl is also called CIH
Chernobyl attacked computers using Windows 95 and 98
Viruses infect both large computer networks and personal PCs
To stay competitive, traditional booksellers began selling online
California sellers urged that state to collect taxes on major online retailers such as Amazon
ABA established its own national online store, Book Sense
Traditional booksellers began selling online
Big chains are squeezing out independent bookstores
Membership in ABA, independents' trade organization dropped from 5,200 to 3,500
Independents lost half their market share in six years
Six years later independent booksellers' market share was down to 17%
Independent bookstores have been set back by increasing online sales
Online bookselling continued to increase its share of the book market
To face competition from online marketing, the ABA has created Book Sense
The plane flew at 60,000 feet.
The Concorde crashed into a hotel.
Nuclear reactors powering the ship were taken off line
Russia rejected a French offer of help
Russian efforts to reach the submarine failed
Russians initially refused foreign assistance
British mini-submarine could not dock with the escape hatch
Russian officials speculated that the Kursk collided with another vessel
Repeated attempts to dock with an escape hatch failed
The Kursk could have been damaged by an explosion
El Nino is a periodic weather phenomenon
Trade winds may reverse direction
Days may lengthen because of Earth's rotation
La Nina reverses El Nino's effects
Predicting El Nino aided by detection system that monitors Pacific winds and waves
Predicting El Nino aided by weather satellites that detect ocean warming
Wages haven't kept up with housing cost rises
Congress refused any new assistance vouchers between 1995-1998
Real or proposed measures include use of rent vouchers to help buy a home.
Real Estate Investment Trusts specializing in affordable housing were established
In 1997 at least 4.5 million families were paying more than 50% of their income on housing
Elian's father demanded his return to Cuba
Circuit Court of Appeals ruled for the government and Elian's father on June 1
Reno met with Gonzales relatives
Elian's father traveled to the U.S. on April 6
U.S. District Judge dismissed Lazaro Gonzales' lawsuit on March 21
Vietnam demanded Elian be returned to Cuba
Elian and his mother were fleeing Cuba for the US
INS ruled that Elian belonged with his father and should be returned to Cuba
Elian Gonzales, 6, was rescued at sea on November 25, 1999
Lazaro Gonzalez, Elian's great-uncle, was granted temporary custody
Supreme Court rejected a final appeal on June 28, 2000
Former President Jimmy Carter has played an active role on the international stage
Since 1987, the Carter Center has worked to treat and prevent diseases causing blindness in Africa
Since 1987, the Carter Center has worked to treat and prevent diseases causing blindness in Latin America
Carter has visited 115 countries on humanitarian missions
Carter monitored more than 20 elections in 16 countries
Carter Center has worked to treat and prevent river blindness
SPLC tracks hate groups and racist organizations
Morris Dees co-founded the SPLC
Design of the euro note began in 1996
By the end 1998 Germany was still experimenting with euro coins
The Euro Bank notes and coins will become legal tender January 1st 2002
"EUR" will be the currency code
In Germany the Bundesbank predicted that private investors would profit
Amnesty International reports on human rights issues
three Thai publications won the AI Journalism Award for Human Rights
two Thai journalists won the AI Journalism Award for Human Rights
Thai journalists and publications won the human rights award in 1998
Thailand office of AI presents journalism awards for human rights reporting
Amnesty International has been accused of serving special interests in political conflicts
Taliban criticized AI for interfering in Afghanistan's internal affairs
Tanzania said AI's reports were calculated to incite citizens against the government
Rwanda said that AI was helping the insurgency
Kenya said AI's reports were calculated to incite citizens against the government
France captured the leader of ETA in 2000
Most of these prisoners are held in jails far from the Basque area
ETA declared an open-ended cease-fire in September 1998
The government transferred some prisoners
ETA instituted a cease fire in 1998 which lasted 14 months but violence again erupted after
By late 2000, the death toll was 12
Myanmar demanded Thailand control border refugee camps harboring foreign-sponsored military and "terrorist" training
In 2000 the US agreed to resettle 600 Burmese refugees
The US denied anti-drug certification to Burma
Suu Kyi received Dublin's "Freedom of the City" award in absentia, as did pop band U2
Myanmar has been ruled by the military in various guises since 1962
The opposition party NLD won 1990 elections
the State Law and Order Restoration Council Seized Power in 1988
Tin Oo was NLD Vice Chairman
In 1999 17 armed groups "exchanged arms for peace" with Myanmar's military government
Turkish membership was delayed because of persistent human rights violations
Turkish membership was delayed because of incompatibility with EU legal and administrative standards
Turkey had been asking for many years to join the European Union
In December 1997 the EU omitted Turkey from its accessions list
(In December 1997 ) the EU omitted Turkey from its accessions list, due to Turkey's bad relations with greece
Turkey deferred execution of Kurdish leader Abdulla Ocalan, easing European concerns about Turkey's Death Penalty  (In January 2000)
Turkey deferred execution of Kurdish leader Abdulla Ocalan, easing European concerns about Turkey's human rights record ( In January 2000 )
By December 1999, the EU decided to include Turkey in its list of accession
the EU held a bilateral meeting to discuss Turkey's prospects
In November 1998 an EU said turkey is a candidate country
Greece began to support Turkish EU membership
Israel denied they were acting against Cyprus
Hargov and Damary were arrested on suspicion of spying
Hargov and Damary were arrested November 1998
Cyprus pardoned the two Israelis after five months in August 1999
the arrest strained Israeli-Greek Cypriot relations
Cypriots suspected they were spying for Turkey
Cypriots suspected they were spying in connection to the recent Greek-Cypriot purchase of Russian S-300 anti-aircraft missiles
Israel admitted that they were Mossad agents
Israel denied they were spying on behalf of Turkey
Microsoft settled with the Department of Justice in 1994
Microsoft was sued by Sun Microsystems
Microsoft was sued by Caldera
19-20 states launched a trial accusing Microsoft of illegal activities
Recording Industry Association of America sued Napster, Inc. for copyright infringement
Metallica sued universities copyright infringement and racketeering
A judge ordered Napster to stop permitting the exchange of copyrighted music
Some recording artists and a number of production organizations have supported the plaintiffs
On appeal, Napster was granted a stay of the order
Some of Napster's supporters receive sponsorship from the company
The Ranger mine has been in operation for 20 years
Opposition parties vowed to halt operations should they win upcoming elections
Katona and Mararula won the Goldman Environmental Prize in 1999
Purchase of Pasqua Coffee that year added 56 outlets
Starbucks bought out Tazo tea company
Starbucks bought out Tazo in 1999
Starbucks bought out Tazo to attract more tea lovers
Kraft provided for distribution of Starbucks coffee beans
Starbucks Coffee has an impressive record of expanding
Starbucks provided internet-to-door delivery service by teaming with Kozmo.com
Kozmo.com placed boxes in Starbucks stores for return of videos, games, DVDs
Starbucks acquired Seattle Coffee Company in the U.K
It established a European beachhead by acquiring the Seattle Coffee Co
Starbucks announced a line of premium chocolates
Magic Johnson provided for Starbucks shops in 1998
"Magic" Johnson became Starbucks' first joint-venture partner
Oslo Accords were based on the principle of "Land for Peace"
Hebron withdrawal was delayed by a series of suicide bombing attacks
Benjamin Netanyahu took office in 1996
Wye Plantation agreement was in October 1998
5,000 protested in New York City
More than 450 bills were introduced nation-wide on gay and lesbian issues
McKinney was barred from using a "gay panic" defense
The killing galvanized gays and lesbians nationwide
There were candlelight vigils and demonstrations across the country
More than half of U.S. citizens are overweight or obese
The entire US population could be overweight in a few generations
Forty-five states have obesity rates over 15%
300,000 deaths a year are attributed to obesity
The number of obese children doubled
Marianne sought to depose Callista Bisek
Marianne sought to depose four of Newt's business/political associates
Ms. Bisek agreed to reveal the gifts and money that Gingrich spent on her.
Newt Gingrich Filed for divorce in july 1999
Marianne accused Newt of transferring assets before seeking a divorce
Newt Gingrich filed for divorce from his wife Marianne, declaring the marriage "irretrievably broken"
Newt responded by calling on Marianne to sit for a videotaped deposition
Outstanding legal issues were never settled since after going to mandatory mediation, the Gingriches reached "full settlement" on Dec. 16
a court-ordered mediation was held (In December 1999)
After 12 hours of negotiation the couple agreed to a settlement
Schering-Plough's treat kit costs $6,400 to $8,000 for a six-month treatment
Interferon is a weak angiogenesis inhibitor
Interferon is used to treat hepatitis
Interferon is used to treat cancer
Interferon is used to treat hepatitis C
Interferon may produce flu-like side effects
Interferon may produce side effects
Rudolph is one of the FBI's ten most wanted
The FBI offered a $1 million reward for him
The Olympic Park bombing killed one
The Birmingham bombing killed one person
The Atlanta abortion clinic bombing injured seven people
The Atlanta nightclub bombing injured five people
A search for Rudolph scoured Nantahala National Forest
In August it was reported that the 31-month unsuccessful pursuit of Rudolph had cost $24.6 million
Rudolph stole a six-months supply of food
Rudolph is wanted for bombing a Birmingham abortion clinic
Rudolph is wanted for bombing an Atlanta abortion clinic
The Birmingham bombing injured one person
The Olympic Park bombing injured 111
Searching for Rudolph involved 200 agents
Searching for Rudolph involved helicopters with infrared viewing capability
Rudolph was probably hiding in mines and caves
Line-Item Veto Act went into effect January 1997
The line item veto has been sought by presidents since Grant.
A Republican-controlled Congress passed LIV in 1996.
Acupuncture has few side-effects
Most medical schools teach acupuncture
Acupuncture is the ancient Asian medical therapy technique
Acupuncture has used to treat weight problems
Acupuncture has been used to treat bedwetting
"The Michael Richards Show" began in 2000
Sklar became pregnant with their first child in 2000
Seinfeld says he'll never do another sitcom
TBS purchased national cable rights to syndicated repeats of "Seinfeld"
TBS purchased metro Atlanta rights to syndicated repeats of "Seinfeld"
A Kennedy family friend called the Coast Guard at 2:15am Saturday
Debris from Kennedy's plane was discovered off Martha's Vineyard
Federal officials shifted the mission to search and recovery
The family released a statement
Kennedy took off from Fairfield, NJ
Senator Kennedy accompanied the bodies
The family held a memorial service for Kennedy and his wife on Friday morning at St. Thomas More Church in New York
Kennedy took off from Essex County Airport, NJ at 8:38pm
A year later some 150,000 people were still in prefabricated houses
The refinery fire was controlled
The state was providing rent subsidies to some survivors
The state was providing free meals to some survivors
Countries worldwide sent Relief Workers
26,000 were still in tents (By August 2000)
The epicenter was near Izmit ( some 70 kilometers southeast of Istanbul)
Hospitals are flooded with the injured
A fire at Turkey's largest oil refinery produced widespread pollution
The Golcuk naval base was destroyed
