Federal aid programs are inadequate
Casinos bring jobs and money
At least half the Indian population lives in poverty
Indian communitites have substandard housing
Some Casinos are troubled by legal battles with states that either outlaw gambling or want to tax the profits
Federal government pays for reservation clinics, schools, and welfare
Indian communitites have domestic violence
1.43 million live on or near reservations
Several reservations near population centers have successfully established casinos
In the U.S. the Corps of Engineers is issuing new regulations to make it harder to build roads or homes near wetlands
Wetlands are important as filters for bodies of fresh water
100,000 acres of wetlands per year have been lost in the U.S.
China increased wetland protections
Drugs were developed to treat pain/inflammation-producing enzymes but not stomach-protecting enzymes
Osteoarthritis affects millions of older Americans.
Osteoarthritis damages cartilage and bones.
Glucosamine and chondroitin, taken together, reduced knee pain after 8 weeks.
COX-2 inhibitors relieve pain.
There are programs to educate on the correct use and installation of children's car seats
The variety of child safety seat designs tended to mystify owners
"Fitting stations" could install and inspect child safety seats
Bouchard won provincial re-election
Meanwhile, the Supreme Court decided against the constitutionality of unilateral secession
Majority of Quebeckers speak French.
Polls indicated most Quebeckers didn't want another referendum
First referendum did not pass
Separatist movement began in Quebec in the 1960's
Second referendum is in 1995
There is a debate over teaching of evolution or creationism in public school science classes
To ignore evolution is to ignore science
The consensus amongst scientists and educators is that biology and other aspects of science cannot be mastered without first understanding evolution
Intelligent design says the complexity of the design of the cosmos requires an intelligent designer
Some school districts deemphasize or omit evolution from textbooks or the curriculum
Seventy-nine percent favor teaching creationism also
According to evolutionists, scientific evidence shows that life began with simple organisms
Chechen groups invaded Dagestan in 1999
Russia invaded Chechnya in 1999 as a response to terrorist acts in Russian cities and Chechen incursion into Dagestan
Russia claimed that separatists were planning terrorist attacks inside Russia (in 1999)
Russia was determined to liberate Chechnya from terrorists (in 1999)
Chechens have fled Chechnya by the thousands
There was speculation that a thrust reverser had deployed
Data Black Box recorders was examined
EgyptAir Flight 990 crashed after departing JFK Airport
Criminal act involving a hijacking was also possible
Cockpit voice recorder was recovered
EgyptAir Flight 990 crashed into the Atlantic
EgyptAir Flight 990 crashed killing all people on board
Schools nationwide are taking measures to prevent school violence.
Children are being taught anger management.
Schools have instituted anti-bullying campaigns.
Security officers assigned to schools may be armed.
The British government was prompted to order a major overhaul of the country's racial discrimination laws
Prince Charles established the Stephen Lawrence architectural scholarship for minorities
The Prince expressed his deepest sympathy to Stephen's parents, in 2000
The Lawrence killing became the focus of debate over relations between police and ethnic minorities
Three suspects were acquitted in the civil suit
A government report into the incident found London's police force to be racist
The murder of Lawrence was racially motivated
Many US couples look to international adoptions
Race is a factor in adoptions;
Most children came from Russia, China, and Korea
The treaty was approved by US Congress in 2000 allowing federal agencies to implement the guidelines
Issues have arisen about the conditions of the orphanages from which some children are adopted
Changes in Chinese law restrict foreigner adoptions
China's one child per family rule
Hague Convention on Intercountry Adoption was created to establish guidelines for international adoptions
Russia tightened control over foreigner adoptions
Russia has passed a law giving Russians more control over foreign adoptions
ADHD affects 3-9% of all children
ADHD is difficult to diagnose
ADHD is a chemical disorder in the brain
Adderall is used largely for children who don't respond to methylphenidate
Some critics think the drugs are over-prescribed
ADHD stands for attention-deficit-hyperactivity disorder
ADHD is characterized by inattentiveness
ADHD is over diagnosed
ADD/ADHD is diagnosed through behavioral patterns
A clinic associated with the University of Tennessee is the one proposing brain scans to diagnose ADHD
The drug Ritalin is the most widely prescribed medication to control behavior of ADD/ADHD
There has been much controversy around treatment of ADHD
Scientists use imaging techniques that measure the transporter of dopamine in the brain
Several studies have shown that patients on Ritalin and Adderall have improved dramatically and tolerated the drugs well
Viruses generally erase a computer's hard drive and prevent the machine from being restarted
Melissa spread via email
Melissa attacked computers running Microsoft Word
Melissa has affected over 100,000 computers worldwide
Love Bug's later version is more deadly
Bangladesh-originated viruses were the Dhaka, later renamed T-virus, and the White Lion, which erased MS-Word document files
W32/Kriz.3862, designed to overwrite hard drive data and destroy setup memory on Windows systems computers, was timed to strike on Christmas Day;
ABA established its own national online store, Book Sense
Traditional booksellers began selling online
Big chains are squeezing out independent bookstores
Independent booksellersIndependents have waged a two-decade war against chains and online booksellers
Six years later independent booksellers' market share was down to 17%
Independent bookstores have been set back by increasing online sales
Online bookselling continued to increase its share of the book market
Barnes&Noble established an online venture
Some shops cater to niche markets
The Concorde flew at around 1,300 miles per hour and The plane flew at 60,000 feet.
Rubber from the gashed tire caused the fuel tanks to catch fire.
The  metal piece probably fell off a Continental DC-10 taking off just before the Concorde.
The Concorde crashed into a hotel.
British Airways flights from London resumed soon after the crash.
Concorde flights were all trans-Atlantic.
The Concorde wreckage was moved and reassembled.
The Concordes were flown only by British Airways and Air France.
The Concorde crashed immediately after takeoff.
The Kursk was carrying 118 sailors
Russian officials speculated that the Kursk hit a WWII mine
Russian officials speculated that the Kursk collided with another vessel
Repeated attempts to dock with an escape hatch failed
Russian officials believe the Kursk collided with another, probably foreign, vessel
The Kursk was a Russian nuclear submarine
Initially it was believed that the Kursk was involved in a collision
The Kursk could have been damaged by an explosion
El Nino weather pattern occurs when weakening trade winds allow warm water in the western Pacific to pulse to the east
El Nino is a periodic weather phenomenon
El Nino reduces carbon dioxide release from the Pacific
La Nina alternates with El Nino
La Nina caused by cold water in the eastern Pacific
La Nina typically lasts a year
Predicting El Nino and its behavior is aided by computer modeling
El Nino is linked to sunspot cycles
El Nino is linked with Global warming
The pool of affordable housing has shrunk over the last two decades
Wages haven't kept up with housing cost rises
Real or proposed measures include greater availability of rent subsidies
Real or proposed measures include use of rent vouchers to help buy a home.
Real or proposed measures include incentives or requirements to encourage the creation of subsidized housing units
The working poor have been lured to housing projects to provide a better economic mix
Eight out of 10 people below the federal poverty line pay more than 30 percent of their income for rent
America has a strong economy
Elian's father demanded his return to Cuba
Elian Gonzales was found lashed to an inner tube
Elian returned with his father to Cuba on June 28, 2000
INS ruled that Elian belonged with his father and should be returned to Cuba
Reno maintained Florida courts have no say in this federal matter
Elian Gonzales, 6, was rescued at sea on November 25, 1999
Cubans in Cuba rallied to demand Elian's return
Lazaro Gonzalez, Elian's great-uncle, was granted temporary custody
Supreme Court rejected a final appeal on June 28, 2000
Elian and his father returned to Cuba on a chartered plane
Carter Center observer missions have monitored elections in Peru
Carter established the Carter Center
Carter Center works for development
Elections have been observed in at least 10 Central and South American countries
Carter Center election monitoring has been in conjunction with the Carter Center and the National Democratic Institute of International Affairs
American Citibank and Dutch ABN-AMRO plan to start quoting prices in Euro
Bulgaria moves to link its currency with the euro;
15 anti-government groups surrendered as of January 1998
SLORC reported over 500 anti-government activists surrendered in March 1999
Gary Norris of IBM presented dates, places, names and substantiated evidence with handwritten notes
Microsoft allegedly offered financial inducements to computer makers for building Microsoft software exclusivity into their computers
Caldera Inc sued Microsoft for related practices
UNESCO's World Heritage Bureau investigates
In 2000, "The Laramie Project," a play about Shepard's murder went on stage in Wyoming
Some attitudes in Laramie have changed since Shepard's murder
The Senate approved the legislation (suggested by Shepard's father)
Gore said that campaign chairman Tony Coelho would stay in place despite some past questionable financial management
a bitter divorce process covering five months
Jetstreams took them over 100mph
They passed south of Japan to avoid thunderstorms that ended a rival flight
Hundreds of thousands were homeless
The earthquakes hit east of Istanbul
The quake had an enormous economic impact
Over 200,000 people were homeless
SPLC tracks hate groups and racist organizations
SPLC seeks financial damages against hate groups and racist organizations
SPLC publishes Intelligence Report
SPLC has won cases against Klan groups
SPLC successfully brought civil lawsuits against racist groups.
Morris Dees co-founded the SPLC
In Germany the Bundesbank predicted that private investors would profit
AI criticism frequently involves illegal detention or violence
Amnesty International has been accused of interfering in the internal affairs of sovereign states
Amnesty International has been accused of serving special interests in political conflicts
Amnesty International has been accused of sowing seeds of dissent; Kenya said AI's reports were calculated to incite citizens against the government.
Tanzania criticized AI for bias
Amnesty International is abbreviated AI
AI accused Kosovo of war crimes
AI accused the international community of allowing Cambodia's political killings and intimidation and International community's alleged allowing of Cambodia's political killings was by its "near silence".
France captured the leader of ETA in 2000
ETA, a Basque language acronym for Basque Homeland and Freedom
ETA declared an open-ended cease-fire in September 1998
The conflict is characterized by demonstrations by Basque separatists and sympathizers
Myanmar has been ruled by the military in various guises since 1962
The regime has been accused of drug trafficking and widespread human rights violations
Nobel Peace Prize winner Aung San Suu Kyi's
the junta won't honor the results
San Suu Kyi heads the popular opposition political party, the National League for Democracy
Turkish membership was delayed because of persistent human rights violations
Turkey is a member of the North Atlantic Treaty Organization (NATO)
Turkey had been asking for many years to join the European Union
Turkey's demand was turned away by the EU which led to a deteriration of bilateral relations
Turkey had bad relations with Greece
Greece and Turkey have disputes in delimitation of the continental shelf in the aegean sea
Greece has consistently blocked the 1 billion U.S. dollars EU financial aid to Turkey
In November 1998 an EU said turkey is a candidate country
Turkey in 1996 signed a trade agreement with EU that removed the trade barrier
By March 1997 the EU stated Turkey has a "European future"
Turkey threatened to block planned NATO expansion if its EU accession was stalled
Israel denied they were acting against Cyprus
Hargov and Damary were caught with electronic surveillance equipment
Ziyi is a coastal town
the arrest was one in a series of recent Mossad embarrassments
After five months the Cyprus suspended their prison terms
Hargov and Damary were sentenced to three years in prison
Israeli President had visited Cyprus three days before the arrest of the two agents
Israel and Turkey had significantly increased military cooperation in recent years
Cypriots suspected they were spying for Turkey
Turkey is fighting against Greek Cyprus
Israel denied they were spying on behalf of Turkey
Microsoft was sued by Caldera
19-20 states launched a trial accusing Microsoft of illegal activities
Napster is located in San Mateo, California
Metallica is a heavy-metal band
Dr. Dre is a rap artist
Recording Industry Association of America sued Napster, Inc. for copyright infringement
Dr. Dre sued Napster
Metallica sued universities copyright infringement and racketeering
A judge ordered Napster to stop permitting the exchange of copyrighted music
The music industry claimed swapping of free music files cut into record sales
Napster is a software program that allows Internet users to search and download music stored in the MP3 digital-file format on each others' computer hard drives
Napster has accumulated multiple lawsuits
The Ranger mine has been in operation for 20 years
Jabiluka is in the Kakadu National Park
ERA got permission to open the Jabiluka uranium mine
Aus. govt. allowed work to continue after UN-WHB report
ERA got permission to open Jabiluka from Aus. govt.
Aus. govt. denounced the UN-WHB report as biased
UN-WHB team calls for closing Jabiluka
Kakadu is on the World Heritage List of important cultureal and environmental sites
Robert Hill is Aus. govt. Environment Minister
Jabiluka is expected to generate billions of US dollars to Australia's GNP over 28 years
In joint ventures with basketball legend Magic Johnson, Starbucks opened shops in the inner-city neighborhoods of Seattle's Columbia City, West Lost Angeles and New York's Harlem
Starbucks acquired San Francisco-based Pasqua Coffee
Starbucks has a partnership with Time, Inc. for publication, distribution and sale of Joe, a magazine.
Kozmo.com placed boxes in Starbucks stores for return of videos, games, DVDs
Oslo Accords were based on the principle of "Land for Peace"
Oslo accords said Israel was to redeploy its forces in the West Bank in three phases
Oslo accords said Israel's second withdrawal would be from the West Bank by September 1997
Benjamin Netanyahu repeatedly attacked the Oslo Accords
Oslo accords  followed months of secret talks held in Oslo
Yasser Arafat pledged that he would declare Palestinian independence in 1999 and Yasser Arafat pledged that he would declare Palestinian independence even without a final peace agreement with Israel.
McKinney received two consecutive life sentences
Events occurred in October 1998
Aaron McKinney blows to Shepard's head eventually killed him
Obesity has reached epidemic status in the U.S.
More than half of U.S. citizens are overweight or obese
American daily calorie consumption has increased
300,000 deaths a year are attributed to obesity
Obesity is defined as being 20% heavier than your ideal weight
Georgia showed the largest increase in obesity rates.
Obesity can be linked to major causes of death.
Marianne sought to depose Callista Bisek
Callista Bisek was a Congressional aide
Newt denied the charge (of transferring assets)
a confidential financial agreement pending a divorce settlement (between Newt & Marianne) was reached on Sept. 10
Newt Gingrich Filed for divorce in july 1999
Marianne accused Newt of transferring assets before seeking a divorce
Newt separated from his wife marianne in may
The agreement (Their Confidential Financial Agreement) was subsequently released to the public
Bisek admitted her (six-year) affair with Newt
Marianne asked a judge to freeze the couple's assets
Patients accuse Schering of "bundling" the products in order to compel them to use its interferon
Interferon is used to treat hepatitis
Interferon is used to treat multiple sclerosis
Interferon is used to treat hepatitis C
Hepatitis C is a liver disease
Interferon may produce side effects
Hepatitis C is also treated with a combination of Interferon and ribavarin
Rebetron is manufactured by Schering-Plough Corp
In the combination theory, after relapse the patient is given the ribavirin
Rudolph is one of the FBI's ten most wanted
The FBI offered a $1 million reward for him
Rudolph is wanted for bombing Atlanta's Centennial Olympic Park
Rudolph bombed the Birmingham abortion clinic on Jan. 29, 1998
The Birmingham bombing killed one person
A search for Rudolph scoured Nantahala National Forest
In March 2000 it was announced that the task force would dismantle its command post in June
Rudolph stole a six-months supply of food and Rudolph stole the pick-up and food from a food store owner.
Rudolph is wanted for bombing an Atlanta abortion clinic
Nantahala National Forest is rugged terrain
Searching for Rudolph involved the FBI
The Birmingham bombing injured one person
Searching for Rudolph employed bloodhounds
Searching for Rudolph involved helicopters with infrared viewing capability
Searching for Rudolph employed trackers
Bill Clinton vetoed items from the military construction bill.
The line item veto allows the president to veto certain limited tax provisions.
New York Mayor Giuliani and Idaho farmers led another challenge.
The Justice Department appealed to the Supreme Court.
Acupuncture sometimes helps with menstrual pain
Acupuncture treats many conditions
Acupuncture gains popularity in the US
Acupuncture has few side-effects
Acupuncture is the ancient Asian medical therapy technique
Alternative medicine blends with traditional healthcare system
Richards played Cosmo Cramer on "Seinfeld"
Richards plays Vic Nardozza in "The Michael Richards Show"
Seinfeld's stand-up after "Seinfeld" culminated in a live HBO special
Seinfeld says he'll never do another sitcom
Bertrand Piccard made three attempts at the first balloon circumnavigation of the earth
Brian Jones is an adventurer
Bertand Piccard's third attempt took off from Switzerland
Bertrand Piccard wanted to be the first to circumnavigate the world non-stop in a balloon
At 9:38 p.m., the plane vanished from radar after a sudden rapid descent
The US Coast Guard with help from the Air National Guard then began a massive search-and-rescue mission, searching waters along the presumed flight path
Debris from Kennedy's plane was discovered off Martha's Vineyard
It was very dark with a thick haze and Kennedy, a relatively-inexperienced pilot, was flying over water with no lights for reference - conditions conducive to "spatial disorientation" where pilots lose their sense of position and motion relative to the earth's surface
John F. Kennedy Jr. was the only surviving son of the 35th president
The plane crashed into the ocean, off Martha's Vineyard
The refinery fire was controlled
26,000 were still in tents (By August 2000)
Deaths reached 17,000 (By August 2000)
Heavy aftershocks followed soon after the Massive earthquake in August
The epicenter was near Izmit ( some 70 kilometers southeast of Istanbul)
Artic icecap melt prediction
glaciers and sea ice retreated
Arctic of today radically changed within next century without action worldwide
Officials illegally invested in mines
China seeks solutions from the world on mining safety
Government orders officials with investments to withdraw stakes and local officials outlawed from investing in mines.
Death rates continue to increase at provincial coal mines
Accidents are reported on near-daily basis
Shorter working hours to improve safety
Humane societies requesting policy for state responders
"Terri's law" pushed through Florida Legislature
Governor Bush tried to get custody transferred to Florida government
Robert Novak is a columnist
Bush is the President
the identification was verified by Felt's grandson on May 31, 2005
On July 5 Bob Woodward's book "The Secret Man" appeared in stores
Raines has had to testify before the House Financial Services Committee
Leadership and credibility of Franklin Raines is questioned
The directors of Fannie met on Dec. 19 to decide Raines' fate
Michael A. Brown announced the discovery of  2003 UB313.
UB313 is very bright
2003 UB313 was confirmed by surface heat emanations to be 30 percent larger than Pluto.
Saakashvili vowed to fight against corruption.
Governor's race was extremely close
Moderate Democratic and Republican senators tried to work out a compromise
Nuclear option would have forced a change in filibuster rules
Janice Rogers Brown was a California Supreme Court Justice
Brown's nomination was to the US District Court of Appeals for the District of Columbia
Senators [centrist bipartisan] group kept working on possible compromises
Democrats deemed Brown an extreme conservative ideologue
NK agreed to abandon weapons program for pledge of security
Lance Armstrong continues to deny doping charges
ICU's Verbruggen denies having leaked information about Armstrong's tests to L'Equipe
Ross hid in a closet, waiting for the judge
Ross killed Lefkow's family when they discovered him
Riots ignited by 2 teens' accidental death
Emergency powers extended to ensure an end to the riots
November 8, state of emergency declared
AS-28 mini-sub
Aug. 7 the sub rescued
Mini-sub trapped in eastern Russia
Londoners took the terrorist attacks in stride
UN told Syria to withdraw before April
UN-Syrian president talks on June 12
UN-Syria talks on Security Council call to end involvement in Lebanon
In June, Bush warned Syria to withdraw remaining intelligence agents
Yushchenko is leader anti-Kuchma opposition
Other studies are looking into the effects and effectiveness of an underactive thyroid
Other studies are looking into the effects and effectiveness flushing of milk ducts
Abramoff and Scanlon bilked clients of millions of dollars
Michael Scanlon is DeLay's former aide
The tsunami killed more than 163,000 people in 11 countries with thousands still missing
President Uribe offered to swap for 50 hostages
Cunningham received cars as a bribe
Cunningham received furniture as a bribe
School Board ID order passed 6-3
Board members made clear they believed a devine hand guided life's origin
Intelligent design implies that nature is so complex, it must be the work of a creator
Intelligent design implies that nature is too complex to be the work of evolution
Plaintifs argued that the board's purpose was religious
Congress investigated steroid use in Major League Baseball
Some places ban cell phone use by minors for six months after getting their licenses
The percentage of accidents caused by cell phone use is low.
Driver education is a large part of cell-phone law enforcement
The Special Court for Sierra Leone pressured Nigeria to send Taylor home to Liberia.
Al Qaida is a threat to the power grid.
Energy company ownership is consolidating
Companies specialize in generation or transmission
Sweden's church allows gay partnership blessing ceremonies
Massachusetts legalized gay marriage
Gazprom is state-controlled.
Ukraine was accused of gas theft
Harriet Miers was to replace retiring Justice Sandra Day O'Conner.
Some blamed the failure of the nomination on the White House.
Cornell ornithologists made recordings.
The pope's coffin was carried from Saint Peter's Basilica and The pope's body was placed in a plain wooden coffin.
Akayev's government had cracked down on opposition groups
Massive uprisings continued in Kyrgyzstan
The rigged parliamentary elections caused anger.
An EU commissioner said, "It is not Orhan Pamuk who will stand trial, but Turkey."
The EU called on Turkey to drop the charges
Pamuk talked about Kurdish deaths.
