Indian communitites have drug and alcohol addiction
Weight loss and exercise are helpful in treating arthritis.
Many child safety seats were installed incorrectly so as to be ineffective
National Transportation Safety Board asked all states to set up "fitting stations," in 1999
Creationists want evolution to be juxtaposed with other theories of life
Off Nantucket is where EgyptAir Flight 990 crashed
Schools have installed metal detectors.
The parents of Lawrence sought justice
International adoption by US families notably traces to adoption of Korean orphans after the Koran War
Behavior-modification therapy is the primary treatment in Britain
Ritalin has side effects
In 2000, for the first time the American Academy of Pediatrics set specific guidelines for diagnosis of ADHD
Independent booksellers are seeking to gain ground in a number of ways
Many independent booksellers have closed
American Booksellers Association (ABA) represents independent booksellers
Barnes&Noble made a bid to acquire the leading book wholesaler Ingram Book Group
The Concorde's nose was needle-shaped.
Lazaro Gonzalez, Elian's great-uncle, sought asylum for him
Cuban-Americans in Miami protested vehemently and often for the boy to remain in the U.S
Carter Center observer missions have monitored elections in Nigeria
Carter monitored Chinese village and township committee elections
Romania's Central Bank decided to include the Euro in their exchange rates
Microsoft said it would appeal (the ruling to be split into two companies)
Matthew Shepard was a Wyoming University student
Matthew Shepard died (as a result of the attack)
McKinney was convicted of robbery
Newt Gingrich filed for divorce from his wife Marianne on July 29, 1999
Callista Bisek, Newt's alleged mistress
The agreement has been kept private
The second attempt was abandoned when China refused entry to its airspace
Piccard's attempts took off from Switzerland
Piccard got Chinese airspace clearance before starting
The finish line would be in Mauritania, North Africa
Picard's third attempt left from Switzerland
Their balloon would be permanently housed at the Smithsonian's Air and Space Museum
Piccard and Jones made it
They were aloft for 19 days, 21 hours and 47-55 minutes
They landed in the Sahara desert
They landed Sunday morning March 21, 1999
They landed in southern Egypt
The earthquakes were massive
The earthquake measured 7.4 on the Richter scale.
Buildings collapsed in Izmit
Final death estimates were 15,000-17,000
Founding members of the Euro club are: Belgium, Germany, Spain, France, Ireland, Italy, Luxemboug, the Netherlands, Austria, Portugal and Finland
The design of the Euro is required to include five languages, the symbol of the EU (12 stars in a ring) and will feature bridges, windows and doorways in various European styles
AI criticism frequently involves police violence
The Basque region comprises three or four Spanish Provinces and three French Departments
Spanish Socialist Party pulled out of the three party Basque Government
Three months later(june 2000) Turkey and other non-EU members were excluded from a European defense mechanism
Jackson ruled that Microsoft was a monopoly
Ranger uranium mine also operated by ERA
UN-WHB team concludes Jabiluka poses danger to natural values of Kakdu
UN-WHB report raised possibility that the Kakadu World Heritage Area be declared endangered
A joint venture in 1998 with Magic Johnson provided for Starbucks shops in Johnson's chain of theaters in Los Angles, Houston and Atlanta with plans for expansion into nine other cities
Starbucks teamed with Kozmo.com in 2000
Russell Henderson received two consecutive life sentences
Newt Gingrich was a former House Speaker
Evidence from the abandoned truck, buried trash, and boot prints proved Rudolph was in the area
The line item veto allows the president to veto particular items in spending bills.
Medical schools now teach herbal remedies
Bertand Piccard's third attempt flew over the Pacific to Mexico
The balloonists won the $1 million Anheuser-Busch prize
unveiled in January 2005
Airbus to pay millions in penalties
emergency evacuation drill conducted
Ice continues to melt in the Antarctic
Global warming affects everything
Arctic sea ice area reduced
Glacier Sermilik melted faster
Glacier Kangerdlugssuag melted faster
Melting Greenland and Antarctic Ice Shelf double sea level
Melting permafrost damages Russian gas pipelines
Safety procedures are ignored
Mines ordered closed for recertification
Accident rates continue to increase at provincial coal mines
Millions donated for pet rescue effort
Humane societies requesting policy for local responders
Bill in Congress urges pet evacuation
Medicare patients can obtain the drug benefit
Case involved Florida legislature
Feeding tube removed by court order
Florida lawmakers refused to intervene
Federal judges ruled against family
Wilson was a critic of the Bush administration
Administration staffer Karl Rove is WH Deputy Chief of Staff and Bush's political advisor
New York Times reporter Judith Miller was jailed for 85 days for refusing to testify about Libby
Patrick Fitzgerald is a Special Prosecutor aka Special Counsel aka Prosecutor
Christian minority was organized into political parties
Catholics celebrated a mass for Pope John Paul II
Iraqi Christians celebrate Christmas
Mark Felt is a retired FBI official
Michael A. Brown is a Caltech astronomer.
Brown considers  UB313 to be a planet.
NASA's Hubble Space telescope found Pluto's second and perhaps third moon.
NASA's New Horizon spacecraft will not reach Pluto until 2015.
Demorcat candidate Christine Gregoire
Mini-summit was attended by Nigeria leader/president
Senate leaders negotiated over judicial nominations procedure
Frist's [Senate rule change/nuclear option] would also eliminate filibusters against Supreme Court nominees.
CA - Filibuster rules will remain unchanged
Compromise agreement (CA) was reached
South Korea is one of the nations in talks with NK
US is one of the nations in talks with NK
Russia is one of the nations in talks with NK
NK in six-party talks
Tour Director Leblanc accepted the charge uncritically
French newspaper L'Equipe charged Lance Armstrong used erythropoietin (EPO) in 1999
International Cycling Union (UCI) investigating allegations of Armstrong EPO use
Investigators seek two men seen near home
Murders occured on February 28
Bart Ross killed Lefkow's husband and mother
Judge Lefkow dismissed Ross' medical malpractice suit
Riots spread around Paris
Rioters are young Muslim/Arab/African men
Emergency powers extended for three months
Police raid 5 premises in Leeds
US insisted Syrian intelligence agents remained
Syria denied the accusations
Reports intelligence operatives had hit list
Repeat election held December 26
Congressmen investigated for connection to Abramoff
Abramoff lobbying for Indian tribes benefitted  lobbyists
Abramoff pleaded guilty to conspiracy
Hurricane Katrina is most costly natural disaster in US history
FARC holds three US citizens
Wade purchased Cunningham's home in San Diego for inflated price
Cunningham resigned from Congress on Nov. 28, 2005
India and Russia are collaborating on satellite development
Students were told that ID differs from evolution
School Board was sued by [11] parents/families [Plaintiffs]
The BALCO steroid distribution scandal indicates rampant steroid use in MLB
Bamboo is increasingly used for household items and furniture
Arrow bamboo is the staple panda food.
Obama first came to national attention with his speech to the Democratic National Convention in 2004
He draws the support of voters from all racial and economic groups
He called for troop withdrawal from Iraq
Every state has considered restrictions on cellphone use while driving.
Cell phone use while driving is being banned on military bases
Taylor was requested to be sent directly to Sierra Leone.
Taylor is wanted by an international  war crimes court in Sierra Leone
There was a widespread blackout in 2003
Some nuclear power plant sirens are dependent on electricity.
In 2005 Los Angeles suffered significant electrical failures
In California, a state ban on gay marriage was thrown out
Some European countries have taken steps to allow gay marriages
Gerhard Schroeder was German chancellor
A Southern Europe Gas Ring (SEGR) will transport gas from Turkey through Greece to Italy.
Gazprom and Germany's BASF will build the NEGP
A pricing dispute was alleged.
Russia is a major supplier of Europe's gas
French, Portuguese and Chinese translations came out in October
President Bush nominated Harriet Miers for the Supreme Court
Harriet Miers is Bush's longtime lawyer and friend
Conservatives urged Mr. Bush to withdraw her nomination
Miers said that she wanted to protect the independence of the executive branch, citing the battle over access to her White House legal writings
President Bush announced that she had withdrawn her nomination
There were several sightings.
The ivory-billed woodpecker was last seen about 60 years ago.
The funeral service for Pope John Paul II was held Friday, April 8.
Members of John Paul II's family are buried in a Krakow cemetery.
Kyrgyz parliamentary elections were held on Feb. 27, 2005
There was international criticism for election abuses
Demonstrators broke into a main government building
The EU warned Turkey that the trial could affect its EU accession.
The EU was concerned about freedom of expression in Turkey.
Turkish intellectuals demanded that Turkey change the laws limiting freedom of expression.
The EU demanded that Turkey change the laws limiting freedom of expression.
