Iran started the case agains the US for the Iran Air 655 incident
The Peace Palace is the World Court's seat
Iran asked to be compensated directly from the USA (for the Iran Air 655)
Nicaragua asked the court to rule U.S. aid to the Contras illegal
The World Court hears cases involving international disputes
The USA put mines in the harbors of Nicaragua
The world court reversed its initial decision on the South Africa/Namibia case
The World Court does not have powers to enforce its orders
Creating new drugs is an expensive process
Companies are concentrating on inovative drugs only
New drugs are expected to have good safety, effectiveness
Drug companies must be convinced that a market exists for the new product
The drug delivery method needs to be worked out
Companies generate public pressure for licensing
Clinical trials are performed when a new drug is developed
Clinical trials typically involve three phases
Companies try to make applications compelling reading
Saftey, quality abd efficay are tested in  pre-clinical trials
thousands of patients take part in clinical trials
Clinical trials involve an average of 200 patients per trial
