Adam Opel is subsidiary of GM
Ferdinand Piech recruited the General Motors/Opel executive, Jose Lopez de Arriortua
Ferdinand Piech is VW chairman
lopez took documents from GM to VW
the missing documents described plans to build a new model car
documents included secret plans for a new factory
Then state prosecution officials discovered four boxes of papers
documents were found where former GM employee were staying
Lopez was accused of perjury
Documents included details of Opel's entire European component supplier network and key contact data
The factory in stolen plans was high-speed
The factory in stolen plans was low-cost
Gutierrez and Piazza were the former GM associates who were found with the plans
Lopez helped turn around Opel
The FBI is probing possible mail and wire fraud
Lopez paid a fine instead of facing perjury charges
There were investigations and counter charges on both sides of the ocean
The U.S. Justice Department's interest in industrial espionage had been piqued
A regional court in Frankfurt issued an injunction preventing VW from recruiting more GM staff
Lopez left Opel On March 16, 1993
Ferdinand Piech took over an ailing VW company that was losing money
Lopez was disappointed by GM's decision not to build an automobile plant in his own Basque country
Still Later German police raided VW headquarters
Gunter Rexrodt, had tried to be a peacemaker is this controversy
Gunter Rexrodt is the German economics minister
GM charged that during his last months at GM, Lopez stole GM plans
Lopez paid fine in May, 1994
investigation is bogged down in political and legal translatlantic issues
seven other GM executives left with Lopez
VW counter-charged that GM had planted GM documents and data in VW sites and computers
The German prosecutor was Dorthea Holland
there was an industrial espionage case involving GM and VW
German newspapers such as Der Speigel made public allegations of spying against Lopez
Lopez left GM under a cloud of confusion
Piech got nationalistic in his accusations
Eurothere are fears of destabilization of relations between Germany and America
In 1994, Britian's Prince Andrew made an official royal visit
Argentina and Great Britain are cooperating on the building and use of two nuclear power stations
Full diplomatic relations were re-established in 1990
President Carlos Menem of Argentina took office in 1989
has adopted a pro-western foreign policy and free market economics
Falkland war was in 1982
major cabinet ministers visited each other's countries
Foreign Secretary Douglas Hurd visited Argentina
and Agricultural Minister Gillian Shephard visited Argentina
Economy Minister Domingo Cavallo visited UK
and Foreign Minister Guido De Tella went to the UK
Economic disputes still exist over the fishing industry in the waters around the Falkland Islands
British Gas was involved in gas production and distribution
Argentina has sought British assistance on privatization of the oil and gas industries
the lucrative illex squid fishing in waters around Falklands is an issue
Britain has maintained an arm embargo
Argentina's overriding aim is to regain sovereignty
The refusal of Argentina to purchase cattle products
Argentina demanded an investigation of alleged war crimes during the Falklands War
Britain lifted military protection zone around the Falklands
GB continues to refuse to discuss sovereignty formulas
Argentina used fishing disputes to press for oil and military compromises
still differences over territorial sea claims
Falkland war was between Britain and Argentina
In theory, stronger trade and investment links with Argentina would gradually reduce the importance of the Falklands to Britain
Talks over Argentine officers to train in UK military academies
But the UK foreign office insisted its policy would change only if the islands' 2,000 inhabitants agreed
and in 1991, the UK agreed to cooperate to conserve fisheries
Argentinians visited war cemeteries in the Falklands
Each side would announce upcoming military exercises
but Britain claimed ownership of any oil
Oil and gasfields detected in disputed waters required Argentine cooperation for development
Argentinian fishing liscences muscled in on the main source of revenue for the islands
Discussions between British and Argentian companies on sharing South Atlantic oil resources
Britain's Export Credit Guarantee Department underwrites loans to Argentina
military protection zone around falklands was 150-mile
Duke of York became the first royal visitor to Argentina
relations between Argentina and Great Britain are growing continuously cooperative
Commercial relations improved steadily between the UK and Argentina
There are still remaining issues regarding the Falkland Islands
Britain ended trade curbs in 1985
Argentina lifted restrictions on British imports in 1989
Argentina and Brazil are also major markets
PM cut US prices to restore Marlboro's US standing
In Hungary PM increased cigarette exports to Ukraine
Philip Morris expected to start producing Marlboros in Russia in 1993
RJR plans to produce Camels and other brands in Kazakhstan
American cigarette manufacturing companies were faced with declining domestic sales
Tobacco companies suffered from declining sales due to health concerns regarding cigarettes
declinig sales due to restrictions on advertising
american tobacco companies began to diversify and acquire companies that produce non-tobacco products
RJR bought factories in Turkey
Phillip Morris (with Marlboros) wooed Russian by supplying 20billion cigarettes after the 1990 tobacco riots
PM acquired three Russian factories
Competition also was heavy in Western Europe
PM said it sold 201 billion cigarettes worldwide during the third quarter of 1994
PM also gained control of a Kazakhstan cigarette manufacturing operation
PM is building a factory in Lithuania
PM often entered markets with both cigarettes and food
American tobacco companies used trade barrier removal
American tobacco companies used state tobacco monopoly liberalization
american tobacco companies discovered markets in the Soviet Union/Soviet bloc
there were overseas sales gains
there were rising international tobacco profits
PM increased sales in western europe
America's tobacco companies are selling more aggressively
China is the biggest world market
Phillip Morris and RJ Reynolds are US tobacco companies
China's had a new open-market policy
Cyanide is used in mining to recover metal from low-yielding ore
Another use of cyanide is in manufacturing the nutritional supplement tryptophan
Sodium cyanide use by fisherman decimates fish
Cyanide is used in pesticides
Philippine fishermen use cyanide in fishing
Cyanide fishing is linked to the destruction of area reefs
Cameroon honey gatherers use cyanide to stun bees
Cameroon villagers use cyanide to gather honey from hives in tall trees
Cyanide-leaching recovers silver from photographic film;
Cyanide is used to extract silver from used x-ray films
In some isolated cases, it is used for fishing
A film recovery worker died from inhaling cyanide fumes
Cyanide is used in the metal plating industry
Cyanide fumes killed five workers cleaning one tank
mining industry uses method  known as heap leaching
cyanide is used  in gold, silver, and copper mining
Cyanide is used in rodent poison
Cyanide is used extensively in gold mining
Mine waste-water poses an environmental hazard
A broken dam spilled cyanide-contaminated water into a creek
Leack unto Alamosa river corroded irrigation equipment in the valley
a mine leaked contaminated water into the Alamosa River
Ore is placed on a plastic pad
and a weak cyanide solution is poured over it to pull the gold from the rock
The waste from this process is discharged into self-contained ponds
and when a plating company dumped cyanide-laced waste water into the Los Angeles sewer system
In Summitville Colorado, pollution from a mountain mine killed fish for 17 miles
Water diverted for mining use can dry surrounding wells and streams, destroying wildlife habitats
Cyanide is used in electroplating aircraft parts
A pioneering "closed-loop" cyanide leaching system eliminates open ponds and environment leaks
The death of hundreds of birds has been caused by drinking from holding pond
a number of dangerous situations may occur
cyanide is used to make PCP;
In the holding ponds, the gold separates out
leaks from waste ponds are contaminating water
animals are killed by leak of cyanide into water bodies
The decisions of the World Court carry diplomatic weight
The World Court hears cases of border disputes
Wars may have been fought as part of the border dispute cases the World Court hears
The World Court hears cases about embargoes imposed by one country against another
The world court hears cases about disagreements over territorial ocean waters
The World Court hears cases involving questions of sovereignty
The World Court hears cases about illegal mining of harbor waters
Military disputes are common cases seen by the World Court
The World Court provided a venue for a Yugoslav war crimes tribunal
The Yugoslav war crimes tribunal was sponsored by the UN
The Yugoslavia war crime tribunal was established in the early 1990's
The Yougoslavia war crime tribunal put on trial people accused of murder and other atrocities
International Court of Justice is a world court
The World Court had ordered Serbia and Bosnia to stop act of genocide in Bosnia
The war crime tribunal dealt with crimes committed by both Serbia and Bosnia
One accident of war case was post-World War II Corfu Channel incident
The Corfu Channel incident took place in 1948
One of the accident of war cases was the Iran Air Flight 655 incident
The Iran Air Flight 655 incident took place in 1988
