The World Court has its headquaters in The Hague
The court found the USA guilty (in the case with Nicaragua)
The USA ignored the World court verdict for mining the harbors in Nicaragua
It is up to the discretion of the parties involved whether to submit to the judgment of the Court
The Court rejected Libya's plea concerning the extradition on the Lockerbie bombing suspects
Honduras and El Salvador entered a dispute over their borders
BP oil of Britain entered a case against Iran
Hague is in the Netherlands
Iran abruptly nationalized all foreign oil interests
The Court ruled in a border dispute between Chad and Libya
The Court made decisions regarding South Africa's control of the country of Namibia
The Yugoslavia international war tribunal was based at The Hague
The Corfu Chanel incident was about  a British destroyer sunk by Albania in the Corfu Channel
Iran nationalized foreign oil interests in 1951
The UN declared South African control over Namibia illegal
The World Court overruled a UN decision about South African control over Namibia
The World Court is made up of 15 permanent judges
Albania had to compensate Britain for the Corfu incident
Two judges are nominated to the World Court by the parties involved in a case
The US shot down Iranian flight 655
