Police and emergency personnel rushed to the school
Roberts took the children hostage
The schoolhouse was demolished on Oct. 12
The Amish community wants to forgive, forget
Four returned to school, the fifth remains in a coma
Attacks by botnets use millions of internet computers
U.S. considered cyberspace regulation in international warfare
Hackers accessed information from South Korea
U.S. Senator Nelson recommends the regulation of cyberspace
Taiwan internet security major concern to users
United Arab Emirates established Emergency Response Team
U.S. Senate, warned about cyber threats to national security
face 38,656-year sentences (legally only 40 years)
Remaining suspects are charged with lesser offenses
Spain raised its terrorism alert to the medium level
Prosecutors are asking for prison sentence of 38,656 years
provides its products to 17 of the top 20 North American retailers
contaminated by wheat gluten purchased from a new supplier
will compensate owners of deceased animals
Major pet food maker announces huge recall
recalled approximately 60 million containers of pet food
Federal and NY state investigators discovered poison
Rat poison found in the Menu Food's pet food
unknown how rat poison got into the pet food
law suits, & class action suit have been filed by pet owners
cause of the crash is not known at this time
Rescue teams, assisted by local residents, reportedly found the wreckage
plane's failure to fly at 35,000 feet
No transmissions from its emergency locator have been detected
Initial reports of finding the crash site with survivors was not true
government said search would continue until plane is found
The plan includes improved communication
Japan consumes one fourth worlds tuna catch, more than any country
Tuna is an important food source
several countries voluntarily slashed their tuna quotas
Fisheries management organizations adopted plan to reverse tuna declines
follow-up meeting was scheduled for early 2008 in the USA
Environmentalists criticized inadequate  environmental controls
China's SFDA is evaluating food safety
65% of the respondents are worried about food safety
Worst area storm in years
Winds reached 140-155 mph with torrential rain
For two days before, officials raced to evacuate people
High death tolls of 1970, 1991 storms
The European Commission sent funds
Driving rain and 7-foot tidal surge
Sundarbans mangrove forest and its 450 Royal Bengal tigers feared damaged
World charities released funds for emergency supplies
Fatah's al-Aqsa Martyrs Brigades claimed credit for the attack.
Total of three people killed.
Terrorists may have entered Israel through a breeched border between Gaza and Egypt
Hamas claimed responsibility for the previous day's suicide bombing.
China's worst quake since 1976
Medical teams, local officials and volunteers in rescue operation
It is not clear why the shooting happened
He brought to school a 22-calibre pistol and 500 rounds
Finland is considering changing the age for gun ownership
He left a suicide note saying goodbye to his family
Alvarez maintained that he was trying to kill himself
prosecutors were seeking the death penalty
Alvarez was sentenced to life in prison without parole
Alvarez was indicted for murder
The Prosecution said Alvarez was trying to attract his wife's attention
Alvarez caused train derailment by parking his SUV on the tracks
Alvarez sentenced by Judge William Pounders
Alvarez was sentenced to prison for life without parole
Others considered life in prison worse
Jury did not believe Alvarez planned to hurt anyone
Japan and Singapore had large shipments of ivory seized
the 1989 ban on international sales of ivory
Stress may induce a higher level of protein in the blood
Certain gene variations may predispose women to heart disease
Childhood trauma can lead to heart disease
Air pollution increases risk for postmenopausal women
Napping more likely than diet or exercise to lower heart disease
Heart disease is the largest cause of mortality among women
Helicopters, ships & soldiers sent to contain the oil spill
A huge clean-up operation took place after the oil spill
The clean-up will take two months
Beaches and sea farms badly affected
Volunteers, coast guard, military and government helping with clean-up
Inadequate equipment hampered clean-up
Oil spill reached the shore on December 8
two people were killed in a dormitory
Deadliest school shooting in American history
Cho had been accused of stalking two female students
The gunman was Cho Seung-Hi
The gunman had a history of mental illness
5 faculty members were killed
Major General Weightman, Chief of Walter Reed, was fired
Suicide note which said he was ''sorry for everything''
There was no clear motive for shooting
He spent years in treatment centers
No data on safe dose in children
FDA is urged to ban OTC cold products for children
Children with heart problems at risk
Lake Mead is Colorado River reservoir
Colorado River supplies millions of people
Colorado River supplies ranch and farm land
Lake Mead might never completely refill
States focusing on water conservation measures
Scripps Institution of Oceanography study
50% chance Lake Mead could be dry by 2021
10% chance Lake Mead could be dry by 2014
Vick is barred from training camp
Dogs and dogfighting equipment found on Vick's property
Remaining co-defendants scheduled plea agreements
Vick has not yet decided whether to plead guilty
Bridge found to have structural deficiencies
No call for Immediate repair
President promised to expedite federal aid
The rocket was probably fired from a construction site
domestic groups claimed responsibility for the attack
terror group Revolutionary Struggle claimed responsibility
police interviewed thousands of persons
Police are reviewing witness accounts and examining forensic evidence
Embassy reopened Tuesday, four days after the attack
Greek authorities formed a special task force to investigate
No arrests have been made
FBI experts have joined the investigation
The event caused a gas pipeline to explode
Villages and industries were submerged
gas company claims it was a natural disaster
government is charged with failure to act promptly
Plan to plug the crater with concrete balls faced delays
Hundreds of residents whose houses were submerged blocked a main road and railway
Greenland cut its bear hunt quota
Ice is melting due to global warming
Bears are smaller now and fewer cubs survive
More than 500,000 people commented on proposal
The polar ice cap will continue to shrink.
Bush made light of the incident
News Conference was with Iraqi Prime Minister Nuri-al-Maliki
An Iraqi reporter threw his shoes at visiting President Bush
in Libya he was given an award for courage
He faces up to seven years in prison for assault on a foreign head of state
Sleep affects one's emotional state
Sleep deprivation is especially problematic for teenagers.
His lawyers threatened to withdraw if more time was not given
Taylor's Family lawyers asked for more time to prepare defense
Taylor allegedly orchestrated and funded rebels' unspeakable atrocities in Sierra Leone.
Most prosecution witnesses will testify under pseudonyms
The trial will probably last 18 months
150 prosecution witnesses to take the stand.
Britian agreed to imprison Taylor if found guilty.
Taylor refused to appear at his trial.
Vitamin D studies conducted at the Moores Center, University of California
An important source of vitamin D is sunshine
Vitamin D is also available through supplements and diet.
Vitamin D studies conducted at the Moores Center, University of California
An important source of vitamin D is sunshine
Vitamin D is also available through supplements and diet.
Federal government plans to update its vitamin D guidelines
Vitamin D is not a "magic Bullet."
Non-white ethnic groups have insufficient levels of vitamin D.
A US study raised questions about vitamin D and cancer
Food and water was dropped to people in life boats
Ferry in route from Borneo to the Javanese port city of Semarang
Many passengers could not escape the sinking ship and perished immediately
Indonesia widened the search for survivors
conservation groups are working on global reef restoration efforts
Reefs are vital ecosystems which support diverse undersea populations
Bleaching is caused by higher water temperatures and pollution
40% of commercially-caught fish need them to breed
Georgia Aquarium raising and releasing into the wild of loggerhead turtle
Beach nesting preserves set aside
Car bomb plot foiled in London
Britain raised terrorism threat level after attack
British police raided buildings near Glasgow and in central England
Seven people have been arrested in total
Researchers halted unsuccessful test of anti-AIDS vaginal gel
Some success has been found using drugs that treat genital herpes
Male circumcision shown to reduce spread of AIDS by 50%
Over half of new HIV infections in Africa involve women and girls
Scientists are conducting numerous studies in Africa seeking to prevent HIV infection
Malawi is debating whether to adopt male circumcision as policy
Questions raised about U.S. financial regulatory system.
Irving H. Picard appointed as trustee.
Madoff's sons turned him in.
Water for fish and wildlife
China is experiencing a water shortage
Reducing carbon dioxide and other greenhouse gases
The Yangtze River at a record low
Hydropower plants ordered not to store water for electricity generation
Farmers switching to drought-resistant crops
The crane, mounted to a skyscraper under construction, toppled
The crane damaged several other buildings
The three missing people were found dead
New transplant standards unveiled in March 2007
Some employees get extra leave for organ donations
Piracy is the biggest economy in Somalia
Pirates hijacked the oil tanker Sirius Star
Oil tanker was fully loaded
The largest vessel to be hijacked yet
The raid avoided international patrolled area
Arab Red Sea states jointly planning strategy
An Indian frigate sank a pirate mother ship
Tanker owners negotiating with pirates
Around 5 million people displaced or marooned
Nepal and India also affected
Medical teams are providing services
Soil conservation measures a priority for several years
Soil erosion plagues much of China
Desertification causes $7 billion in economic loss annually
Better monitoring and training are part of effort
Soil erosion affects 40% of China's territory
China is investing billions of yuan to reverse desertification
Some portions of the Great Wall are being destroyed by sand storms
Indian officials and foreign governments condemned the attacks
New Delhi and other major cities put on alert
Bombs were attached to bicycles
At least 60 people killed
The police called it a terrorist attack
Indian Mujahedeen claimed responsibility for the blasts
Indian authorities imposed a daylong curfew
Kidnapping charge carries the possibility of life sentence
Stolen items identified as sports memorabilia
Simpson and Stewart sentenced to 15 years
Charges included armed robbery and kidnapping
Both defendants' lawyers vowed to appeal
Recalled toys were decorated with lead paint
Toymakers fired the Chinese subcontractors
Recalled toys were made in China
China produces 80 percent of toys sold here
Mattel recalled nearly 1 million toys
Lead paint known to cause neurological and learning problems
Retailers promoting more American- or European-made toys
Some manufacturers replacing lead-painted parts with safe substitutes
The head of Lee Der Industrial Co. committed suicide
The Lee Der firm claimed it had been sold fake lead-free paint
