Ferdinand Piech is VW chairman
Piech got nationalistic in his accusations
Discussions between British and Argentian companies on sharing South Atlantic oil resources
The World Court provided a venue for a Yugoslav war crimes tribunal
Companies are concentrating on inovative drugs only
The three Vienna nurses were under suspicion of killing up patients
Foundations help in finding markets for products from extractable reserves
Rainforests suffer from mining
Several dog breeds are used in police work
Dogs are used aboard boats and ships
China's birth rate has declined
Plaid Cymru is the Welsh nationalist party
The British PM argued forcefully to preserve the union of England, Scotland and Wales
Research shows the young women at coed colleges tend to defer to the men in intellectual debate
Indian communitites have unemployment
Weight loss and exercise are helpful in treating arthritis.
According to evolutionists, scientific evidence shows that life began with simple organisms
Russia began military operations inside Chechnya in late 1999
The parents of Lawrence filed law suits against the five suspects in 1999
ADHD is over diagnosed
The Kursk sank while on a training mission
The Kursk was a Russian submarine
Lazaro Gonzalez, Elian's great-uncle, sought asylum for him
Germany stressed that Euro would expand investment opportunities
Romania's Central Bank decided to include the Euro in their exchange rates
Meanwhile such small independent countries as Monaco were left subject to special arrangements and conditions imposed by the European Union
SLORC prevented Parliament from convening for 8 years
Burma was renamed Myanmar
UN requests Australian rebuttal
Environmental Minister criticized UN report
Matthew Shepard was tied to a fence
HIs attorney pleaded that McKinney was homosexually abused at age 7
The agreement has been kept private
Piccard expected the circumnavigation to take 10-20 days
Piccard's attempts took off from Switzerland
Piccard got Chinese airspace clearance before starting
Anheuser-Busch Corporation awarded the balloonists a cup and $1million prize
They landed in the Sahara desert
The refinery fire was brought under control
Medical facilities were overwhelmed.
The EU deferred considering EU membership for Turkey (In early 1997)
Kakadu is in Australia's Northern Territory
Starbucks teamed with Kozmo.com in 2000
Russell Henderson received two consecutive life sentences
Rudolph stole a pick-up
Acupuncture can be used in cosmetic therapy
"The Michael Richards Show" is on NBC
The balloonists won the $1 million Anheuser-Busch prize
unveiled in January 2005
Ice continues to melt in the Antarctic
Arctic sea ice melting faster
Medicare has a  Web site to help people
Medicare patients can obtain the drug benefit
Michael Shiavo's 7 year legal battle with Terri's parents continues
Michael is Terri's husband and legal guardian
Feeding tube removed by court order
Florida lawmakers refused to intervene
Case had numerous and prolonged legal debates
Patrick Fitzgerald is a Special Prosecutor aka Special Counsel aka Prosecutor
Fannie is headed by Franklin Raines.
The SEC ruled that Fannie Mae violated accounting standards
Gregoire sworn in on Jan. 12, 2005
Mini-summit was attended by Nigeria leader/president
NK reversed decision until reactor is received
NK in six-party talks
French newspaper L'Equipe charged Lance Armstrong used erythropoietin (EPO) in 1999
WADA claims ICU's Verbruggen leaked information to L'Equipe about Armstrong 1999 EPO results
Cars were torched by rioters
Rioters are young Muslim/Arab/African men
Mini-sub was entangled in fishing nets
Mini-sub tangled in a coastal monitoring system
Mini-sub was cut loose
US insisted Syrian intelligence agents remained
Syria denied the accusations
Repeat election held December 26
Abramoff pleaded guilty to conspiracy
The serial killer BTK is accused of 10 killings 1974-91
Police arrested Dennis Rader on Feb. 25, 2005
FARC holds three US citizens
The government and FARC negotiate prisoner exchanges
Wade purchased Cunningham's home in San Diego for inflated price
India's first unmanned moon mission will carry three European payloads
Students were told that ID differs from evolution
School Board was sued by [11] parents/families [Plaintiffs]
Players suspected of steroid use include Barry Bonds
India plans power stations that run on bamboo.
Obama first came to national attention with his speech to the Democratic National Convention in 2004
Some places only allow hands-free phones
Cell phone use while driving is being banned on military bases
There was a widespread blackout in 2003
Gazprom and Germany's BASF will build the NEGP
A liquified petroleum gas supply was considered
A court injunction was issued to prevent the accidental Canadian purchasers from reading the book prior to the launch
Miers was White House counsel at the time of her nomination.
The federal government committed over $10 million to protect the bird.
Members of John Paul II's family are buried in a Krakow cemetery.
Akayev won a landslide parliamentary victory.
There was looting in Bishkek
Akayev's recorded resignation was to be presented to parliament.
The court lacked a justice ministry order to proceed
Charles Carl Roberts IV was the gunman
Roberts was 32 years old
Roberts claimed that he had molested relatives in the past
five girls were killed
other children were wounded
Police and emergency personnel rushed to the school
Roberts took the children hostage
The Amish community wants to forgive, forget
China uses censorship to fight internet crimes
Botnets used to defraud or steal data
There are attacks by systems called botnets
In 2007 hackers overwhelmed computers that manage internet traffic
Attacks by botnets use millions of internet computers
Companies spending billions to strengthen the internet
Researchers explore redesigning the internet
U.S. considered cyberspace regulation in international warfare
Hackers accessed information from South Korea
U.S. Senator Nelson recommends the regulation of cyberspace
Taiwan internet security major concern to users
United Arab Emirates established Emergency Response Team
U.S. Senate, warned about cyber threats to national security
Computer whizzes sell security flaws
suspects are Moroccan Islamic Combat Group,al-Qaeda offshoot
Remaining suspects are charged with lesser offenses
2004 Madrid train bombings
The train bombing killed and injured people
Spain raised its terrorism alert to the medium level
Suspects angry over the Spanish government support for the Iraq war
Rabei Ousmane Sayed Ahmen, testified
Prosecutors are asking for prison sentence of 38,656 years
48 brands of dog food and 40 brands of cat food
provides its products to 17 of the top 20 North American retailers
contaminated by wheat gluten purchased from a new supplier
will compensate owners of deceased animals
Major pet food maker announces huge recall
FDA says sabotage was possible
Federal and NY state investigators discovered poison
Rat poison found in the Menu Food's pet food
unknown how rat poison got into the pet food
At least 14 pets have died from the recalled pet food
FDA is investigating the recall
law suits, & class action suit have been filed by pet owners
bound for Manado in northeast Sulawesi
three Americans on board
cause of the crash is not known at this time
Plane began sending distress signals one hour after take-off
Rescue teams, assisted by local residents, reportedly found the wreckage
plane's failure to fly at 35,000 feet
102 people on board
into a mountain in the West Sulawesi province of Indonesia
Monday, January 01, 2007
The plane was Adam Air flight KI-574
No transmissions from its emergency locator have been detected
Initial reports of finding the crash site with survivors was not true
Officials misled by locals
government said search would continue until plane is found
The plan includes improved communication
Attendees agreed to ocean-to-market fish tracking
Japan consumes one fourth worlds tuna catch, more than any country
adult spawning tuna dropped to 19% of its 1975 levels
The fishing limits were reduced
Tuna is an important food source
several countries voluntarily slashed their tuna quotas
Fisheries management organizations adopted plan to reverse tuna declines
follow-up meeting was scheduled for early 2008 in the USA
catch quotas not included in plan
Environmentalists criticized inadequate  environmental controls
Tainted food causes food poisoning
China's SFDA is evaluating food safety
There are several government departments for food safety
Tainted food in China
65% of the respondents are worried about food safety
China claims their food is safe
China says it is willing to work with world community
Chinese official executed for accepting bribes
China admits to fraud in its food industry and will correct it
Stockpiled supplies, shelters, wave barriers, warning systems mitigate damage
The US giving aid
Worst area storm in years
Winds reached 140-155 mph with torrential rain
For two days before, officials raced to evacuate people
The European Commission sent funds
Red Cross provided support
Sundarbans mangrove forest and its 450 Royal Bengal tigers feared damaged
No power or telephone service
World charities released funds for emergency supplies
Fatah's al-Aqsa Martyrs Brigades claimed credit for the attack.
Palestinian National Authority (PNA) condemned the attack.
At least one person was killed
Total of three people killed.
Terrorists may have entered Israel through a breeched border between Gaza and Egypt
There was an attack on an Israeli shopping mall.
Attack occurred in February.
Attack occurred at 10:00 a.m.
Prime Minister pledged to fight terrorism .
Government officials didn't believe Dimona nuclear reactor was the target
Hamas claimed responsibility for the previous day's suicide bombing.
Foreign countries offered condolences
Foreign countries offered financial aid
China allocated 200 million yuan ($29 Million) disaster relief
China allocated funds to aid ethnic minorities affected
China's worst quake since 1976
Over 100,000 Chinese soldiers and police involved in rescue
Sichuan province provided funds for earthquake relief
Rescue professionals from Russia to assist
Rescue professionals from Singapore to assist
Power facilities suffered huge damages
About 26,000 workers are working to restore power
At least 19,509 dead
He killed the headmaster
It is not clear why the shooting happened
He brought to school a 22-calibre pistol and 500 rounds
The rampage was in November 2007
The rampage occurred at school
Avinen was a student at Jokela High School
Finland is considering changing the age for gun ownership
He left a suicide note saying goodbye to his family
He was a teenager
In the note he expressed his anger towards society
The attacker's name was Pekka-Eric Auvinen
The teenager was considered a social outcast
He picked his victims randomly
derailment injured 180 people
derailment killed or injured 191 people
Alvarez maintained that he was trying to kill himself
Mr. Alvarez pled not guilty
The jury convicted Alvarez on all charges
prosecutors were seeking the death penalty
Alvarez was sentenced to life in prison without parole
Alvarez was indicted for murder
The Prosecution said Alvarez was trying to attract his wife's attention
Alvarez caused train derailment by parking his SUV on the tracks
Alvarez fled the scene
Alvarez sentenced by Judge William Pounders
Alvarez was sentenced to prison for life without parole
Jury did not believe Alvarez planned to hurt anyone
Japan and Singapore had large shipments of ivory seized
DNA tests were done on the ivory to determine origin
the 1989 ban was not effective
Other countries oppose the ban
Countries opposing ban worked hard to protect their elephant populations
CITES authorized sale of 60 tons of ivory
Stress may induce a higher level of protein in the blood
heart disease is the leading cause of death in the US
Certain gene variations may predispose women to heart disease
Childhood trauma can lead to heart disease
Air pollution increases risk for postmenopausal women
A test for peptides in the blood may identify high heart disease risk
Napping more likely than diet or exercise to lower heart disease
For women family history is an important consideration
Women can cut risk by eating oily fish
Women can cut risk by exercising daily
There are five diagnostic factors for heart disease
Heart disease is the largest cause of mortality among women
Helicopters, ships & soldiers sent to contain the oil spill
off South Korea's west coast
An oil tanker leaked oil
The tanker leaked 10,810 tons, or 66,000 barrels of crude oil
The spill occurred in December 2007
Oil had reached South Korea's western coast the next day
Leakage was stopped late the same day
The region is ecologically sensitive
A huge clean-up operation took place after the oil spill
The clean-up will take two months
Beaches and sea farms badly affected
Serious damage along coastline
Volunteers, coast guard, military and government helping with clean-up
Inadequate equipment hampered clean-up
Oil spill reached the shore on December 8
Thousands of people involved in clean-up
two people were killed in a dormitory
The second attack was two hours later
Attacks  occurred in April 2007.
Shooting not considered an act of terrorism
Also dead, a Holocaust survivor, Liviu Librescu
Cho had been accused of stalking two female students
The gunman was Cho Seung-Hi
Cho bought ammunition clips on ebay
The gunman had a history of mental illness
27 students were killed
5 faculty members were killed
The police searched Cho's cellphone records for his his plan
The dead include Walid M. Shaalan, an Egyptian students.
Defense Department ordered review panel
Government orders investigations into Walter Reed Hospital Annex
Army takes steps to improve facilities
Major General Weightman, Chief of Walter Reed, was fired
Lieutenant General Kiley was appointed to be temporary Chief of Walter Reed
Army Secretary Harvey resigned
Several have been fired
Hawkins left a suicide note
Suicide note which said he was ''sorry for everything''
Now would be famous
A 19-year old man
The Von Maur store in Omaha's Westroads Mall
He spent years in treatment centers
No indication that he was capable of such violence
He spent years in group homes
1,500 2 yr. olds were affected
FDA review of drug safety for young children
FDA is urged to ban OTC cold products for children
800 OTC pediatric medications
More studies in children needed
Children under age 6
OTC cough/cold products for children under six
Lake Mead is Colorado River reservoir
Colorado River supplies millions of people
Lake Mead might never completely refill
Seven-states make pact
States focusing on water conservation measures
Scripps Institution of Oceanography study
50% chance Lake Mead could be dry by 2021
10% chance Lake Mead could be dry by 2014
Vick is barred from training camp
Dogs were killed and abused
Animal rights groups protest
Evidence found during drug search
Dogs and dogfighting equipment found on Vick's property
Remaining co-defendants scheduled plea agreements
Racketeering charge carries a 20-year sentence
Vick's attorneys are trying to negotiate a plea deal
Vick has not yet decided whether to plead guilty
At least four dead
Divers search for victims
Bridge was undergoing repairs
Bridge found to have structural deficiencies
No call for Immediate repair
Terror attack ruled out
Cause of collapse to be investigated
Death toll is 5
Trapped victims and cars visible below
President promised to expedite federal aid
North half of the bridge collapsed
Earlier inspections found structural deficiencies
The rocket was probably fired from a construction site
the attack caused no injuries
A task force will investigate the attack
The task force will be headed by a former counterterrorism chief
domestic groups claimed responsibility for the attack
terror group Revolutionary Struggle claimed responsibility
Officials are studying footage from the embassy's security cameras
FBI experts trying to enhance security camera images
Security cameras cptured images of 3 persons fleeing the scene
police interviewed thousands of persons
Police are reviewing witness accounts and examining forensic evidence
Embassy reopened Tuesday, four days after the attack
Greek authorities formed a special task force to investigate
No arrests have been made
Investigation identified the weapon used as a Chinese-made RPG7
Greeks investigating possible security failures
FBI experts have joined the investigation
The event caused a gas pipeline to explode
Villages and industries were submerged
Efforts to stem the flow of mud have not worked
a gas well is spewing mud
Lapindo was ordered to pay 420 million damage costs
Volcano disgorges 7000-150,000 cubic meters of mud daily
gas company claims it was a natural disaster
government is charged with failure to act promptly
Plugging the crater is expected to cost hundreds of millions of dollars
Plan to plug the crater with concrete balls faced delays
Hundreds of residents whose houses were submerged blocked a main road and railway
Protestors demanded compensation for destroyed homes
The Government is not taking position on why ice is melting.
Taking a position on why the ice is melting goes beyond the scope of the Endangered Species Act.
Greenland cut its bear hunt quota
Some forecast the possible extinction of the polar bear.
Conservation groups pressured the Interior Department to deem the bears ''threatened''
Loss of sea ice threatens polar bears.
Ice is melting due to global warming
Ice loss would have profound effects on some polar bears
Bears are smaller now and fewer cubs survive
More than 500,000 people commented on proposal
The polar ice cap will continue to shrink.
Bush made light of the incident
News Conference was with Iraqi Prime Minister Nuri-al-Maliki
An Iraqi reporter threw his shoes at visiting President Bush
Muntazer al-Zaida  has not been formally charged
the journalist threw his shoes at President Bush
The journalist's name was Al-Zaidi
Al-Zaidi was a reporter of Al-Baghdadia
In Syria the journalist was hailed as a hero
in Libya he was given an award for courage
The incident was an embarrassment to the Prime Minister
The Prime Minister  condemned the event  as ''savage'' and ''shameful.''
the journalist was considered a hero to many Arabs for his actions
He faces up to seven years in prison for assault on a foreign head of state
Taking short naps during the early afternoon helps
Adults should get seven to nine hours of sleep each night. (3.5).
Sleep affects one's emotional state
Sleep affects mental abilities
Older people more likely to suffer from sleep disorders
Lack of sleep can increase sensitivity to pain
Lack of sleep can cause depression
Lack of sleep can cause diabetes
Reduced sleep may cause diabetes.
Poor sleep causes weight gain.
Schools should start later to allow children more sleep.
Sleep deprivation is especially problematic for teenagers.
Children don't get enough sleep.
Sleep deprived children suffer from depression.
Lack of sleep causes traffic accidents.
Trial scheduled for June.
His lawyers threatened to withdraw if more time was not given
New trial date request denied.
Taylor charged with war crimes.
Taylor charged with human rights violations.
Trial held at a UN-backed court
Taylor charged with 11 criminal charges
Taylor's Family lawyers asked for more time to prepare defense
Taylor was the first African leader tried for war crimes in an international tribunal.
Taylor allegedly orchestrated and funded rebels' unspeakable atrocities in Sierra Leone.
Most prosecution witnesses will testify under pseudonyms
The trial will probably last 18 months
150 prosecution witnesses to take the stand.
Prosecution to take almost a year.
Britian agreed to imprison Taylor if found guilty.
Taylor dismissed his defense lawyer.
Taylor refused to appear at his trial.
Increased vitamin D results in 2/3 lower risk of colon cancer
Vitamin D studies conducted at the Moores Center, University of California
An important source of vitamin D is sunshine
Vitamin D is also available through supplements and diet.
No correlation between vitamin D and most cancers. (3.1).
Federal government plans to update its vitamin D guidelines
Vitamin D is not a "magic Bullet."
Non-white ethnic groups have insufficient levels of vitamin D.
A US study raised questions about vitamin D and cancer
Heavy seas sink ferry in 10 minutes
Around 600 passengers were onboard
Food and water was dropped to people in life boats
Fishing vessels participated in rescue
Ferry sank late at night
Less than half passengers were rescued
The exact location of the sinking of the ferry is not known
Many passengers could not escape the sinking ship and perished immediately
High winds and currents have carried many far from the spot where the ferry sank
Indonesia widened the search for survivors
Reefs are threatened by destructive fishing methods
Reefs are threatened by over-harvesting
Reefs are threatened by ship groundings
In 2007 the U.S. requests international oversight of coral trade
Corals worldwide are dying
conservation groups are working on global reef restoration efforts
Reefs are vital ecosystems which support diverse undersea populations
Scientists plant farm-grown corals on depleted reefs
Reefs are threatened by pollution
Reefs are threatened by overfishing
Reefs are threatened by climate change
Bleaching is caused by higher water temperatures and pollution
Taiwan's mushroom coral is threatened by human activity and algae growth
40% of commercially-caught fish need them to breed
Sea turtles are endangered by poaching
Turtle poaching brings a high return
Sea turtles thretened by pollution
Sea turtles killed for their shells
Sea turtles killed for their meat
Steps taken worldwide to preserve world turtle populations
Pakistan uses sattelite and radio to track endangered turtles
Georgia Aquarium raising and releasing into the wild of loggerhead turtle
Beach nesting preserves set aside
Asian Development Bank raises funds to protect sea turtles in Asia
Car bomb plot foiled in London
Police link both incidents - airport attack and attempted car bomb
Britain raised terrorism threat level after attack
Terrorist, burning in flames at airport, screams "Allah, Allah"
Terrorists drive burning vehicle into airport terminal building
Some suspects are medical doctors
Some suspects worked at the Royal Alexandra Hospital
British police raided buildings near Glasgow and in central England
Seven people have been arrested in total
Terrorists have possible links to al-Qaida
Police gather evidence from vehicles and videos
Researchers halted unsuccessful test of anti-AIDS vaginal gel
Some success has been found using drugs that treat genital herpes
Male circumcision shown to reduce spread of AIDS by 50%
HIV is complex problem in sub-Sahara
Over half of new HIV infections in Africa involve women and girls
Scientists are conducting numerous studies in Africa seeking to prevent HIV infection
Malawi is debating whether to adopt male circumcision as policy
Madoff confessed his business was a Ponzi/pyramid scheme
The Securities and Exchange Commission is investigating.
Madoff freed on bail
Bernard Madoff Investment Securities firm collapsed
Determination of asset loss and preservation
Individual investors, charities, hedge funds, and financial institutions were victims
Madoff firm collapsed and Madoff arrested in December 2008
Scheme unfolded when Madoff couldn't meet investor demand for return of money
Questions raised about U.S. financial regulatory system.
Madoff's firm was ordered liquidated.
Irving H. Picard appointed as trustee.
Madoff's sons turned him in.
No evidence surfaced that Madoff's family aided him in fraud.
China is experiencing a water shortage
Water pollution a problem
Shortage due to strains of economic growth
Shortage caused by global warming and related events
Hydropower plants ordered not to store water for electricity generation
Introduction of water-saving practices
Farmers switching to drought-resistant crops
Accident occurred while crane was being extended
A steel tie fell and sheared off a lower tie holding the crane to the building
The crane, mounted to a skyscraper under construction, toppled
The crane damaged several other buildings
It demolished a 4-story brownstone including the Fu Bar
Rescuers searched for 3 still missing
The three missing people were found dead
Investigators suspect nylon sling failed
Expert identified a tensile failure
Black market organ trafficking
Increased organ availability through mismatched blood type transplants for infants
New transplant standards unveiled in March 2007
A Carolina plan to trade shortened prison sentences for organ donations was approved
U.S. eases way for live donors to donate kidneys/paired kidney donations
U.S. sets new standards to improve transplant volume and survival rates
Some employees get extra leave for organ donations
Liver splitting increases available organs
Tuesday the ship was anchored at a piracy hub near Haradhere
Owner is working to free the ship
In mid-November 2008
Piracy is the biggest economy in Somalia
Pirates hijacked the oil tanker Sirius Star
EU launching anti-piracy patrols off Somalia
Oil tanker was fully loaded
The largest vessel to be hijacked yet
Sirius Star is Saudi-owned
Hijacking occurred far out in the Indian Ocean
The raid avoided international patrolled area
Arab Red Sea states jointly planning strategy
An Indian frigate sank a pirate mother ship
NATO declines to give anti-piracy help
Hijacked ship and crew remain in pirate hands
Tanker seized in 16 minutes
10-day deadline set for ransom payment
Tanker owners negotiating with pirates
Around 5 million people displaced or marooned
Roads, railroads, and bridges washed out
Water-borne diseases and lack of food and water becoming critical concerns
in late July, 2007
Nepal and India also affected
Damage mounting as of Wednesday, August 1
Bangladesh is low-lying and has a network of 230 rivers
Political parties forbidden to give aid under party banners
ongoing Bangladesh monsoon floods
Death toll at 120
Eight million displaced or marooned
Medical teams are providing services
Hundreds of shelters opened
Europe providing monetary aid
Military, local groups, and international organizations distributing aid
Soil conservation measures a priority for several years
China making effort to plant trees and grasslands
China claims significant progress in halting erosion
Soil erosion plagues much of China
Erosion has outpaced government conservation efforts
Desertification causes $7 billion in economic loss annually
Erosion caused by urban development
Black soil thickness and fertility affected by erosion
Irrigation and water retention facilities being upgraded
Better monitoring and training are part of effort
Soil erosion affects 40% of China's territory
China is investing billions of yuan to reverse desertification
Some portions of the Great Wall are being destroyed by sand storms
Indian officials and foreign governments condemned the attacks
New Delhi and other major cities put on alert
Bombs were attached to bicycles
Seven simultaneous bomb blasts
On May 13, 2008
At least 60 people killed
The police called it a terrorist attack
Police release sketch of suspect who bought bicycles
Indian Mujahedeen claimed responsibility for the blasts
Indian Mujahedeen says bombings' aim was to disrupt tourism
Police deployments aimed at heading off potential Hindu-Muslim violence
Indian authorities imposed a daylong curfew
Bombs injured around 100
in the city of Jaipur
Casualty figures revised downward
government deploys anti-riot police and state police
Robbery took place in a Las Vegas hotel room
Variety of additional charges, including kidnapping
Kidnapping charge carries the possibility of life sentence
Stolen items identified as sports memorabilia
Two of Simpson's accomplices were armed
Simpson jailed but released on bail
Arraignment set for October and preliminary hearing for November
Former football League star, OJ Simpson
Arrested by Las Vegas, NV police
Trial began on September 8
Two co-defendants testified for the prosecution
Simpson and Stewart sentenced to 15 years
Charges included armed robbery and kidnapping
Both defendants' lawyers vowed to appeal
Recalled toys were decorated with lead paint
Toymakers fired the Chinese subcontractors
Recalled toys were made in China
Strengthened CPSC and more regulation of toy industry sought
China produces 80 percent of toys sold here
RC2 Corp. recalled 1.5 million wooden toys
Mattel recalled nearly 1 million toys
Lead paint known to cause neurological and learning problems
Need seen for toy safety legislation
Timeliness of Fisher-Price's lead paint alert questioned
Retailers promoting more American- or European-made toys
Some manufacturers replacing lead-painted parts with safe substitutes
China suspended exports by companies linked to recalls
Consumers refusing to buy Chinese-made toys
The head of Lee Der Industrial Co. committed suicide
The Lee Der firm claimed it had been sold fake lead-free paint
